/***********************COLORS******/
$color-link:#ff002e;
$color-red-main: #CE1335;
$color-red-dark: #BF0029;
$color-red-light: #FFEBF0;
$color-text-primary: #333536;
$color-text-secondary: #646667;
$color-blue-main:#2F6D95;
$color-blue-dark: #244E72;
$color-info-main:#0288D1;
$color-info-dark: #01579B;
$color-success-main: #2E7D32;
$color-success-dark: #1B5E20;
$color-warning-main: #ED6C02;
$color-bg-warning:#FFF4E5;
$color-paper: #FFF;
$color-bg-main: #FFF;
$color-bg-gray: #F6F8F9;
$border-main :#EFF3F5;
$outlinedborder-red:rgba(206, 19, 53, 0.50);
$divider:#c7c7c7;
$alert-success: #E6F2ED;
$alert-info: #EBF3FF;
$alert-danger: #FFF3ED;
$alert-warning: #FFFAF0;
$alert-shadow: 0px 4px 13px 0px rgba(27, 29, 39, 0.12);;
$card-shadow: 0px 4px 13px 0px rgba(140, 142, 143, 0.20);
$disabled-bg:#D8DADB;
$disabled-color:#868788;
$input-bg: #F5F5F5;
$input-placeholder:#CDCED0;

/***********************HABITAT STYLES******/
::-moz-selection { /* Code for Firefox */
    color: $color-paper;
    background: rgba(206, 19, 54, 0.9);
}
  
::selection {
    color: $color-paper;
    background: rgba(206, 19, 54, 0.9);
}
body{
    font-family: "Roboto", sans-serif !important;
    color: $color-text-primary !important;
    background-color: #F6F8F9 !important;
}
a{
    color: $color-link !important;
    text-decoration: none !important;
    transition: 0.3s;
}
a:hover{
    color: $color-red-dark !important;
}
.mt-n1 {
    margin-top: -0.25rem !important;
}
.mt-n2 {
    margin-top: -0.5rem !important;
}
.mt-n3 {
    margin-top: -1rem !important;
}
.mt-n4 {
    margin-top: -2rem !important;
}
.mt-n5 {
    margin-top: -3rem !important;
}

/******TYPOGRAPHY******/
h1, h2, h3, h4, h5, h6{
    font-family: "Roboto", sans-serif !important;
}
h1{
    font-size: 6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 7.002rem;
}
h2{
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: 4.5rem;
}
h3{
    font-size: 3rem !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 3.5rem !important; 
}
h4{
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.62438rem;
}
h5{
    font-size: 1.5rem;
    font-style: normal;
    line-height: 2.001rem;
}
h6{
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
}
.subtitle1{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}
.subtitle2{
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.37375rem;
}
.body1{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}
.body2{
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25125rem;
}
.caption{
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.245rem;
    text-transform: uppercase;
    color: $color-text-secondary;
}
.overline{
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.995rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
}
p{
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #333;
}

.hr{
    border-top: 1px solid $divider !important;
    
}

.btn{
    border-radius: 2rem !important;
    color: $color-bg-main;
    padding: 0.5rem 1.5rem !important;
}

.hbt-btn-primary{
    color: $color-bg-main !important;
    background-color: $color-red-main !important;
}


/***********************BG STYLES******/
.bg-paper{
    background-color: $color-bg-main;
}
.bg-red{
    background-color: $color-red-main;
}

.box_title_simulator {
    font-family: "roboto";
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
    letter-spacing: 0px;
    margin-top: 3%;
    margin-bottom: 1%;
}
.box_red_info {
    font-family: "Poppins", sans-serif !important;
    text-transform: uppercase;
    background: $color-red-main;
    font-size: 0.625rem !important;
    font-weight: 700 !important;
    line-height: 0.5rem !important;
    letter-spacing: 0em !important;
    color: $color-paper;
    border-radius: 0 0 0.5rem 0.5rem;
    display: inline-block;
    top: -5px;
    position: relative;
}  
.box_digits {
    /* width: 121px
      height: 62px */
    border-radius: 18px;
    border: 6px solid $color-paper;
    background: $color-text-primary;
    color: $color-paper;
    box-shadow: 0px 2px 3px 0px #8c8e8f66;
}  
.box_digit {
    font-size: 1.875rem !important;
    font-weight: 500 !important;
    padding: 6px 5px;
    border-right: 1px solid $color-paper !important;
}

box_digit_inv{
    font-size: 1.875rem !important;
    font-weight: 500 !important;
    padding: 6px 5px;
    border-right: 1px solid $color-paper !important;
}
.box_digit:last-child {
    border-right: none;
} 
.box_simulator_time {
    box-shadow: 0px 4px 13px 0px #8c8e8f33;
    border: 1px solid $border-main;
    background-color: $color-bg-gray;
    gap: 16px;
}
.btn_simulator {
    font-family: "Poppins", sans-serif;
    padding: 12px 28px 12px 28px;
    background-color: $color-red-main;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: $color-paper;
    margin-bottom: 4%;
}

.px-3{
    padding-right: 1rem;
    padding-left: 1rem;
}
.py-1{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.py-5{
    padding-top: 3rem;
    padding-bottom: 3rem;
}