.number-animation {
  font-size: 48px;
  text-align: center;

  animation: scaleIn 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
  display: flex;
}

#num1,
#num2,
#num3,
#num4 {
  text-align: center;
  font-weight: bold;
  background: #000;
  color: #68D317;
}

#num1 {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

#num4 {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}


.digit {
  margin: 0 2px;
  animation: spin 0.5s infinite;
}

.paused {
  animation-play-state: paused !important;
}

@keyframes spin {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(360deg);
  }
}