/**********FOOTER************/
footer {
  background-color: #333536;
  color: #FFF;
  font-size: 0.75rem;
  padding-top: 10rem !important;
}
.logo-footer{
  margin: 0 auto !important;
}
footer .logo {
  width: 140px;
  margin: 0 auto;
}
.logo-footer{
  text-align: center;
}
footer .fuente-legal p{
  text-align: center;
  font-size: 0.7rem;
  color: #FFF;
}
.copyright{
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /**********FOOTER************/
  footer {
    padding-top: 9rem !important;
  }
  footer,
  footer .copyright {
    text-align: center;
  }
  footer .copyright {
    margin-top: 2rem;
  }
}