@font-face {
  font-family: "joystixmonospace";
  src: url("../../assets/fonts/joystix_monospace-webfont.woff") format("woff2"),
       url("../../assets/fonts/joystix_monospace-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  /*###############################################################*/
  /* input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #74A9D8;
    border-radius: 1px;
    border: 0px solid #010101;
  } */
  /*###############################################################*/
  input[type=range]::-webkit-slider-thumb {
    height: 26px;
    width: 26px;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }

.slider-mobile{
    top: 0%;
    left: 0%;
    transform: rotate(180deg) !important;
    writing-mode: vertical-rl;  
    -webkit-text-orientation: upright;
    text-orientation: upright;
    white-space: nowrap; 
    /* bottom: 0 !important;
    transform: translateY(-100%) !important;
    position: absolute !important; */
}

.slider-desktop{
    top: 50%;
    left: 50%;
}

.containerArrowMobile{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.boxArrowMobile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 34px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid #BF0029;
  padding: 5px, 16px, 5px, 10px;
  background-color: #CE1335;
}

.boxArrowTxt{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 7px;
}

.btn-banner{
  font-family: 'joystixmonospace';
  position: absolute;
  top: 85%; 
  padding: 12px 28px 12px 28px;
  border-radius: 10px;
  background: #CE1336;
  color: #FFFFFF;
  cursor: pointer;
  /* width: 100px; */
  /* height: 100px; */
}



/*********************************************************
*********************************************************/
.wrap-before{
  width: 100vw;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0px;
  padding: 0 4rem;
}
.wrap-after{
  width: 100vw;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0px;
  padding: 0 4rem;
}
.wrap-after {
  text-align: right;
}
.wrap-after .description {
  width: 100% !important;
}
.wrap-before .description h3{
  font-family: "joystixmonospace";
}
.wrap-before .description h3 span{
  color: #CE1335;
}

.wrap-before .description p{
  font-size: 1rem;
  font-family: "Roboto Slab";
}
.wrap-before .description span{
  color: #CE1335;
}

.wrap-after h3,
.wrap-after p{
  color: #FFF !important;
}

