/**********SECTION RESULTADO SIMULACION************/

dotlottie-player {
  width: 100% !important;
  height: auto !important;
}
.stc-hbt-resutl-rent {
    margin-bottom: 60px !important;
  }
  
  .disclaimer {
    font-size: 0.75rem;
    color: #646667;
  }
  
  .nav-pills .nav-link {
    border: 1px solid #bebebe;
    color: #BEBEBE;
    transition: 0.3s;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link,
  .nav-pills .nav-link:hover {
    background-color: #FFF !important;
    color: #CE1335 !important;
    border-color: #CE1335;
    transition: 0.3s;
  }
  
  /****MODAL****/
  .modal-header {
    background-image: url(../../assets/img/path-header-modal.svg);
    background-repeat: no-repeat;
    background-color: #CE1335;
    background-size: cover;
    background-position: center;
    border-bottom: none !important;
  }
  
  .modal-header .btn-close {
    border-radius: 100px;
    border: 1px solid #c7c7c7;
    background: #FFF;
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    padding: 0.13rem !important;
    top: 3% !important;
    right: 5% !important;
    opacity: 0.9;
  }
  
  .modal-body h5 {
    font-weight: 600 !important;
    font-size: 1rem;
  }
  
  .modal-body .pillar {
    box-shadow: 0px 4px 13px 0px rgba(140, 142, 143, 0.2);
  }
  
  .modal-body .txt-services {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    color: #333536;
    display: block;
  }
  
  .modal-body .icons {
    color: #CE1335;
  }
  
  .modal-footer {
    border: none !important;
  }
  
  /****CARD****/
  .card-rent {
    height: 285px !important;
  }
  
  .card {
    box-shadow: 0px 4px 13px 0px rgba(140, 142, 143, 0.2);
    border: none !important;
    transition: 0.5s;
  }
  
  .card:hover .card-icon {
    background-color: #CE1335;
    color: #FFF;
    transition: 0.5s;
  }
  
  .card-icon .icon {
    transition: 0.3s;
  }
  
  .card:hover .card-icon .icon {
    transform: scale(1.2);
    transition: 0.3s;
  }
  
  .card .hr {
    border-color: rgba(0, 0, 0, 0.2) !important;
  }
  
  .card-icon {
    background-color: #FFEBF0;
    color: #CE1335;
    max-width: fit-content;
    transition: 0.5s;
  }
  
  .card-caption {
    color: #646667;
    margin-bottom: -6px !important;
    display: block;
  }
  
  .card-mounth {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
    font-weight: 500 !important;
  }
  
  .mounth-rentabilidad {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.3rem;
    z-index: 10;
    position: relative;
  }
  
  .mounth-rentabilidad .icon-disclaimer {
    font-size: 1.8125rem !important;
    font-style: normal !important;
    font-weight: 700 !important;
  }
  
  .card-text {
    color: #646667;
  }
  
  .ft-txt {
    font-size: 0.875rem;
    font-weight: 500 !important;
  }
  
  .ft-number {
    font-size: 0.875rem;
  }
  .img-modal{
    width: 100px;
  }



@media only screen and (max-width: 768px) {
    
  /**********SECTION RESULTADO SIMULACION************/
  .sin-data.d-flex {
    flex-wrap: wrap-reverse !important;
  }
  .sin-data .right {
    margin-bottom: 1.5rem;
  }
  .disclaimer a {
    line-height: 1rem !important;
  }
  .stc-hbt-resutl-rent {
    margin-bottom: 0px !important;
  }
  .header-pills.d-flex {
    display: block !important;
    text-align: center;
  }
  .header-pills .card-title {
    margin-bottom: 1rem;
  }
  ul.nav-pills {
    justify-content: center;
    padding-right: 0px;
  }
  /****CARD****/
  .col1-tab {
    order: 3;
  }
  .col2-tab {
    order: 2;
  }
  .col3-tab {
    order: 1;
  }
  .card-rent {
    height: auto !important;
  }
  .mounth-rentabilidad {
    font-size: 2rem;
  }
  #json-animation-here {
    margin-top: -1rem !important;
  }
}